{% extends 'master.html' %}

{% block title %}
    Edit article
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'porukeApp:edit' id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.markaTelefona.id_for_label }}">{{ form.markaTelefona.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.markaTelefona.id_for_label }}" name="{{ form.markaTelefona.name }}" value="{{ form.title.value }}">
            {% if form.title.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.markaTelefona.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.content.id_for_label }}">{{ form.modelTelefona.label_tag }}</label>
            <textarea class="form-control" id="{{ form.modelTelefona.id_for_label }}" name="{{ form.modelTelefona.name }}" rows="5">{{ form.content.value }}</textarea>
            {% if form.modelTelefona.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.content.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Save"/>
    </form>

{% endblock %}